<nav class="navbar navbar-light bg-light justify-content-space-between">
    <a class="navbar-brand" href="/"><img id='logo' class="img-fluid" src='public/assets/images/Logo.png' /></a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/radiant-barrier">Radiation Barrier</a>
            <a class="dropdown-item" href="/solar-attic-fan">Solar Attic Fan</a>
            <a class="dropdown-item" href="/intelli-bag">Intelli-Bags</a>
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/contact">Contact Us</a>
        </div>
    </div>
</nav>