<nav class="navbar navbar-light bg-light">
    <a href="/contact">Contact Us</a>
    <a class="navbar-brand" href="/">Navbar</a>
    <div class="nav justify-content-end">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Brochures
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/radiant-barrier">Radiation Barrier</a>
                <a class="dropdown-item" href="/solar-attic-fan">Solar Attic Fan</a>
                <a class="dropdown-item" href="/intelli-bag">Intelli-Bags</a>
                <a class="dropdown-item" href="/">Home</a>
            </div>
        </div>
    </div>
</nav>