<div class="row">
  <div class="col">
    <div class="page-header">
      <h1>About Me</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="public/assets/images/bag_pic.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          Bo this section is optional. If you have a picture that you want here and overall description. In upper
          left corner you see the word 'Navbar'. THat should be a company name. In the bottom section you see 3
          cards. one for each product. I need a title. Pricing info. Description. And picture (optional).
      </div>
    </div>
  </div>
</div>