<div class="row">
  <div class="col">
    <div class="page-header">
      <h1>About Us</h1>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>
          AFTER YEARS OF DESIGN, ENGINEERING, AND LAB TESTING GENERATIONAL ENERGY IS PLEASED TO ANNOUNCE THE
          DEVELOPMENT OF THE "INTELLI™" BRAND ENERGY SAVING PRODUCT LINE
        </p>
        <p>We believe in the 50% rule!!!!</p>
        <img src="public/assets/images/graph.png" class="img-fluid graph-img" alt="Responsive image">
      {{!-- </div>
      <div class="col-md-6 col-sm-12"> --}}
        
        <p>
          Don’t be fooled into buying a solar power system twice the size needed to eliminate your electric company’s
          monthly bill. Our Efficiency First approach can reduce the number of solar panels needed to power your home
          by reducing your energy consumption up to 50%.
        </p>
        <p>
          Power generation should never be considered before your home is first made more efficient. For just
          pennies-on-the-dollar our products are designed to reduce energy consumption by up to 50% without changing
          your current lifestyle. Once your home is efficient you will be ready for a solar panel system which will
          only need to generate half the power to completely eliminate your power companies’ electric bill.
          Generational Energy manufactures products to eliminate the monthly "rent" payment to their power company’s
          monthly electric bill. Our mission is to remove the burden of owing a monthly electric bill while adding
          equity to your home’s value and family’s financial security. Renting your electric is simply a bad investment
          and a bill we can all live without. Furthermore, we believe that building more home equity by becoming energy
          independent is a wise financial move and a moral environmental responsibility. Money not spent on a monthly
          power bill becomes extra expendable income! Generational Energy is making a difference for a greener tomorrow
          by shaping the environment for our future generations. Our mission is to provide affordable world class
          products through efficiency and peace of mind for the future. Reach out to us to make a difference for future
          generations.
        </p>
      </div>
    </div>
  </div>
</div>