{{> nav}}
<div class="container">
    {{> pageHeader}}
    <div class="row">
        {{> card title='Intelli-Shield' price='$99.00 per roll, 1000sqft. At 26” width'
        img="public/assets/images/intelli-shield-roll.png" description='Attic temperatures can reach more than 140 degrees. Trying to cool your home can be a heavy load on A/C systems. When stapled to the attic roof rafters you will see noticeable energy savings while increasing your homes overall comfort. Radiant barrier foil is a highly reflective thermal blanket that reflects 97.2% of attic heat.  Layered aluminum is at 11 microns where others are only 7 microns thick and is noted to be some of the highest quality and reflectivity on the market.  Intelli-Shield is Laser cut and Laser perforated to maintain exceptional strength integrity and perforation consistency compared to our competition.  Once your installers get their hands on this product, they will be hard pressed to go to any other.  This is one of the best products at any price.  
        Heavy-duty radiant barrier is at the cornerstone of energy saving product available today.
        '}}
        {{> card title='Intelli-Vac, The Big Gator Bags at 120cuft waste fill' price='$11.99 per bag; order is by the
        case at 10 per case' img="public/assets/images/black-wrapped.png"
        img2="public/assets/images/intelli-vac-expanded.png" description='Constructed using a polypropylene woven
        material and triple stitched for high strength and tear resistance that are 40% stronger. The large 120cu bag
        has a capacity of more than 500lbs plus and filled size is approximately 5ft x 8ft. Just roll and stack neatly
        on trailer. Easy to seal, shut and transport.' }}
        {{> card title='Intelli-Vac, Regular size Gator Bag, 75cuft waste fill' price='Price per bag is $8.99; order is
        by the case at 10 per case' img="public/assets/images/intelli-vac-reg-wrapped.png"
        img2="public/assets/images/intelli-vac-reg-expanded.png" description='Constructed using a polypropylene woven
        material and triple stitched for high strength and tear resistance that are 40% stronger. The standard 75cu bag
        has the capacity of more than 400lbs and the filled size is 4ft. x 6 ft. with a collar that is large enough to
        be ambiguous to insulation vacuums.' }}
        {{> card title='Intelli-Breeze Solar Attic Fan, 30W ' price='Pricing starts at $279 per fan, ask for quantity
        discounts. ' img="public/assets/images/intelli-solar.png" description='Designed to compete and excel in quality
        and function with the best fans in the market, we keep our overhead low and manufacture at quantity to be
        priced below our competitors. The only difference between attic fans is the size of the panel. We chose the 30W
        because the average home needs this amount of CFM. Why have a solar panel for a fan that under performs or over
        performs for the average home when all of the fans are the same. How many sizes do you really need to
        manufacture when all that is different is the panel? 10W, 12W, 20W, 24W, 30W, 36W, and 50W? The cost difference
        really isn’t the panel cost. So choose wisely. Choose Intelli-Breeze solar attic fan because we look at the
        value of quality and price and how it affects the end user.

        SIZE-30 Watt Solar panel - COLOR-Powder Black - TYPE-Flat base, shingle)
        MODEL-SAF 30W - VENTING CAPACITY-1550 CFM and 2500SqFt attic space
        MOTOR-Whisper quiet, high torque, variable speed, brush-less DC motor
        PANEL-High Impact photo-voltaic 30W panel mounted on an adjustable bracket
        FAN BLADE- Upgraded High Strength UBS plastic 4 Blade Fan, lighter, lower vibration and noise, and more output
        a 5 blade aluminum fan blade and will not bend or ding during installation to cause unwanted vibration
        FLASHING- 1100 series Aluminum flashing with no seams for a tight seal and rounded
        Pricing starts at $279 per fan, ask for quantity discounts.
        ' }}

    </div>
</div>
{{> footer}}