{{> nav}}
<div class="container">
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8 col-sm-12">
        <img class="brochure-img" src="public/assets/images/trifold-intellishield-Rad-Barrier-1.jpg" alt="Responsive image">
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8 col-sm-12">
        <img class="brochure-img" src="public/assets/images/trifold-intellishield-Rad-Barrier-2.jpg" alt="Responsive image">
      </div>

    </div>
  </div>
  {{> footer}}