{{> nav}}
<div class="container">
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8 col-sm-12">
        <img class="brochure-img" src="public/assets/images/trifold-intellibreeze-customer2.5-1.jpg" class="img class="
          brochure-img"-fluid" alt="Responsive image">
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8 col-sm-12">
        <img class="brochure-img" src="public/assets/images/trifold-intellibreeze-customer2.5-2.jpg" class="img-fluid"
          alt="Responsive image">
      </div>
    </div>
  </div>
  {{> footer}}